* {
   margin: 0;
   padding: 0; 
}

body {
   font-family: sans-serif;	
   color: #fff;
}

.sivu {
   height: 100vh;
}

.sivu, #footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#navigointi {
   background-color: rgba(0,0,0,0.7);
   position: fixed;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1em;
   box-sizing: boder-box;
}

#navigointi a {
   color: #fff;
   text-decoration: none;
   padding: 0 1em;
}

#navigointi a:hover {
   color: #ffcdd2

}

#navigointi ul {
   display:flex;
}

#navigointi ul li {
   display: block;
}

#etusivu {
   background-color: #f44336;
}

#yritys {
   background-color: #e91e63;
}

#tuotteet {
   background-color: #9c27b0;
}

#yhteistiedot {
   background-color: #673ab7;
}

#footer {
   background-color: #3f51b5;
   height: 5em;
}